---
import board from "../../data/board.js";
import icons from "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css";
---

{
  board.map((item) => (
    <div
      class="modal align-items-center"
      id={item.modal_target.substring(1)}
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby={item.modal_target.substring(1) + "Label"}
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id={item.modal_target.substring(1) + "Label"}
            >
              {item.name}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            />
          </div>
          <div class="modal-body">
            <!-- UNCOMMENT TO INSERT PHOTOS <img src={item.image_src} alt={item.name} class="img-fluid" /> -->
            <Fragment set:html={`${item.bio}`} />
          </div>
          <div class="modal-footer">
            <i class="bi bi-arrow-left"></i>
            <i class="bi bi-arrow-right"></i>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  ))
}
